
@{
    ViewBag.Title = "SearchProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bodycontent">

    <div class="row clearfix">
        <div class="sixteen columns headline">
            <h2>Blog page with left sidebar</h2>
            <p class="italic">You can write any description here or delete if you dont want to use this</p>
        </div>
    </div>

    <div class="sixteen columns">
        <div class="divider row"></div>
    </div>

    <div id="maincontent" class="clearfix">

        <div class="five columns">
            <aside class="left-sidebar">

                <div class="widget row">
                    <h5>Search form</h5>
                    <div id="search-form">
                        <form method="post" action="http://iweb-studio.com/themepreview/HTML/scoove-responsive/boxed/blue/index.html">
                            <input type="text" id="search-box" />
                            <input type="submit" value="Search" id="search-button" />
                            <div class="clear"></div>
                        </form>
                    </div>
                </div>

                <div class="widget row">
                    <h5>Blog categories</h5>
                    <ul class="tick-list">
                        @foreach (var c in ViewBag.Cat)
                        {

                            <li><a href="#">(@c.CategoryName)</a><span class="postcount">(@c.noofproduct)</span></li>
                         }
                    </ul>
                </div>
                <div class="widget row">
                    <h5>Blog Suppliers</h5>
                    <ul class="tick-list">
                        @foreach (var c in ViewBag.SupRec)
                                {
                                    
                         <li><a href="#">(@c.CompanyName)</a><span class="postcount">(@c.SupplierID )</span></li>
                        }
                    </ul>
                </div>
                <div class="widget row">
                    <h5>Advertisement</h5>
                    <a href="#"><img src="images/ads/img-1.jpg" alt="" class="imgshadow scale-with-grid" /></a>
                </div>

                <div class="widget row">
                    <ul class="tabs">
                        <!-- Give href an ID value of corresponding "tabs-content" <li>'s -->
                        <li><a href="#" class="active">Recent post</a></li>
                        <li><a href="#">2nd tabs</a></li>
                    </ul>

                    <!-- tab "panes" -->
                    <div class="panes">

                        <!--tab 1-->
                        <div>
                            <ul class="subtract-list">
                                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                                <li><a href="#">Consetetur sadiscing elitr sed diam</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                                <li><a href="#">Consetetur sadiscing elitr sed diam</a></li>
                                <li><a href="#">Consetetur sadiscing elitr sed diam</a></li>
                            </ul>

                        </div>
                        <!--end tab1-->
                        <!--tab2-->
                        <div>
                            <p><span class="highlight-red">Lorem ipsum dolor sit amet</span> consetetur sadiscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et eabum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                        </div>
                        <!--end tab2-->

                    </div>
                    <!--end tabs-->
                </div>

                <div class="widget row">
                    <blockquote class="testimonial row">
                        <p>
                            Lorem ipsum dolor sit amet, vel aeque veritus noluisse no, id clita praesent qui. At lucilius liberavisse eos, ad doctus civibus mei, quidam numquam appareat pri ut.
                        </p>
                        <img src="images/author.png" alt="" class="left" />
                        <span class="color-blue">Kevin john, Director</span>
                        <cite>John company</cite>
                    </blockquote>
                </div>


            </aside>
        </div>


        <div class="eleven columns">
            <section id="content">
                <article class="blogpost row">

                    <!-- start of post heading -->
                    <div class="post-heading">
                        <p class="date">18</p>
                        <div class="month-year"><p><span>Aug</span><br />2012</p></div>
                        <!-- start of post title -->
                        <div class="post-title">
                            <h5>
                                <a href="single-post-left.html" title="">What do you expect from a blog page?</a>
                            </h5>
                        </div>
                        <!-- end of post title -->
                        <div class="clear"></div>
                    </div>
                    <!-- end of post heading -->
                    <!-- start of post meta -->
                    <div class="post-meta">
                        <p>Posted by <a href="#" class="author">John doe</a><a href="#comments" class="comments">3 comments</a></p>
                    </div>
                    <!-- end of post meta -->

                    <figure>
                        <img src="images/blog/img-1.jpg" alt="" class="imgshadow scale-with-grid" />
                    </figure>

                    <!-- start of post entry content -->
                    <div class="entry-content">
                        <p>
                            Lorem ipsum dolor sit amet, his nonumy laudem dissentiunt ut. Te eum velit nobis copiosae.
                            Erat singulis at quo, in eos et enim erant hendrerit, in duo erat probatus. Illud complectitur ad vel.
                            Qui at sumo stet mediocritatem.
                            In eum doming albucius sendide. In sea epicurei perpetua erroribus, eu his tota movet. Ius eu consetetur efficiendi, eos no nobis veniam.
                            Eam iracundia evertitur.
                        </p>
                    </div> <!-- end of entry-content -->

                    <a href="#" class="readmore">Read more</a>

                </article>

                <!-- divider for blog post -->
                <div class="divider"></div>

                <article class="blogpost row">

                    <!-- start of post heading -->
                    <div class="post-heading">
                        <p class="date">18</p>
                        <div class="month-year"><p><span>Aug</span><br />2012</p></div>
                        <!-- start of post title -->
                        <div class="post-title">
                            <h5>
                                <a href="single-post-left.html" title="">Most people loves simple clean blog?</a>
                            </h5>
                        </div>
                        <!-- end of post title -->
                        <div class="clear"></div>
                    </div>
                    <!-- end of post heading -->
                    <!-- start of post meta -->
                    <div class="post-meta">
                        <p>Posted by <a href="#" class="author">John doe</a><a href="#comments" class="comments">3 comments</a></p>
                    </div>
                    <!-- end of post meta -->

                    <figure>
                        <img src="images/blog/img-2.jpg" alt="" class="imgshadow scale-with-grid" />
                    </figure>

                    <!-- start of post entry content -->
                    <div class="entry-content">
                        <p>
                            Lorem ipsum dolor sit amet, his nonumy laudem dissentiunt ut. Te eum velit nobis copiosae.
                            Erat singulis at quo, in eos et enim erant hendrerit, in duo erat probatus. Illud complectitur ad vel.
                            Qui at sumo stet mediocritatem.
                            In eum doming albucius sendide. In sea epicurei perpetua erroribus, eu his tota movet. Ius eu consetetur efficiendi, eos no nobis veniam.
                            Eam iracundia evertitur.
                        </p>
                    </div> <!-- end of entry-content -->

                    <a href="#" class="readmore">Read more</a>

                </article>


                <!-- Pagination -->
                <div class="pagination row">
                    <span><a href="#" class="navbtn">Prev</a></span>
                    <span>.</span><span>.</span><span>.</span>
                    <span><a href="#" class="navbtn">4</a></span>
                    <span><a href="#" class="navbtn">5</a></span>
                    <span><a href="#" class="navbtn">6</a></span>
                    <span><a href="#" class="navbtn">7</a></span>
                    <span><a href="#" class="navbtn">8</a></span>
                    <span>.</span><span>.</span><span>.</span>
                    <span><a href="#" class="navbtn">Next</a></span>
                </div>
                <!-- End pagination -->

            </section>
        </div>



    </div>




</div><!-- container -->
